<h1>nav works!</h1>

<ul>
  @for(link of links ; track link.title){

    @if(link.children){
        <li (click)="setVisibility(link)">{{link.title}}</li>
        @if(link.isVisible){
          <ul>
        @for(child of link.children ; track child.title){
        <li><a [routerLink]="child.url">{{ child.title }}</a></li>
        }
          </ul>
        }
    }
    @else {
    <li><a [routerLink]="link.url">{{ link.title }}</a></li>
    }
  }
</ul>



<!--
<ul>
@for(link of links ; track link.title){

  @if(link.children){
    <li ></li>
      @if(link.isVisible){
        <ul>
        @for(child of link.children ; track child.title){
          <li><a [routerLink]="child.url">{{ child.title }}</a></li>
        }
        </ul>
      }
  } @else {
    <li><a [routerLink]="link.url">{{ link.title}}</a></li>
  }
}
</ul>
-->
