<table>

  <thead>
  <tr>
    <td>Product</td>
    <td>Quantity</td>
    <td>Actions</td>
  </tr>
  </thead>

  @for (item of items ; track item.name ; let i = $index){
    <tr>
      <td>{{item.name}}</td>
      <td>{{ item.quantity }}</td>
      <td class="buttons">
        <button (click)="triggerChangeList({index: i, changeType: ChangeTypeEnum.UP})"> ➕ </button>
        <button (click)="triggerChangeList({index: i, changeType : ChangeTypeEnum.DOWN})"> ➖ </button>
        <button (click)="triggerChangeList({index: i, changeType : ChangeTypeEnum.REMOVE})">❌</button>
      </td>
    </tr>
  }

</table>
